/Espectro_flu.png
/Espectro_flu_teste.png
/Espectro_sonda12_2.png
/__pycache__
/article_LES_no_BIT_ke_std.csv
/article_LES_no_BIT_u_std.csv
/article_LES_no_BIT_w_mean.csv
/article_LES_no_BIT_w_std.csv
/article_experimental_ke_std.csv
/article_experimental_u_std.csv
/article_experimental_w_mean.csv
/article_experimental_w_std.csv
/computacional_std_u.csv
/computational_atual.csv
/computational_atual_28_probes_denso_sl.csv
/computational_atual_28_probes_smag02.csv
/computational_atual_28_probes_static.csv
/computational_atual_28_probes_van_driestCs02.csv
/computational_atual_28_t_G.csv
/computational_atual_cut_0-270.csv
/computational_atual_cut_10-135.csv
/computational_atual_cut_10-177.csv
/computational_atual_cut_20-200.csv
/densecolumn_t_C015_cut_10-145.csv
/experimental_x_computational_std_u1.csv
/mean_w.png
/plot_experimental_computatuinal_csv.py
/rho_paraview_position.csv
/std_ke.png
/std_ke_favre_e_sem_favre.png
/std_u.png
/std_u_favre_e_sem_favre.png
/std_w.png
/std_w_favre_e_sem_favre.png
/surf00001_sonda00001.dat
/surf00001_sonda00002.dat
/surf00001_sonda00003.dat
/surf00001_sonda00004.dat
/surf00001_sonda00005.dat
/surf00001_sonda00006.dat
/surf00001_sonda00007.dat
/surf00001_sonda00008.dat
/surf00001_sonda00009.dat
/surf00001_sonda00010.dat
/surf00001_sonda00011.dat
/surf00001_sonda00012.dat
/surf00001_sonda00013.dat
/surf00001_sonda00014.dat
/surf00001_sonda00015.dat
/surf00001_sonda00016.dat
/surf00001_sonda00017.dat
/surf00001_sonda00018.dat
/surf00001_sonda00019.dat
/surf00001_sonda00020.dat
/surf00001_sonda00021.dat
/surf00001_sonda00022.dat
/surf00001_sonda00023.dat
/surf00001_sonda00024.dat
/surf00001_sonda00025.dat
/surf00001_sonda00026.dat
/surf00001_sonda00027.dat
/surf00001_sonda00028.dat
/surf00001_sonda00029.dat
/surf00001_sonda00030.dat
/surf00001_sonda00031.dat
/surf00001_sonda00032.dat
/surf00001_sonda00033.dat
/surf00001_sonda00034.dat